<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Demo-2</title>
        <link rel="stylesheet" href="/static/demos/css/demo_2.css">
    </head>
    <body>
        <div class="show">
            <form id="signin" action="/success" method="get" onsubmit="check(); return false;">
                <input type="text" id="username" placeholder="username"><label for="username"></label>
                <input type="password" id="passwd" placeholder="password"><label for="passwd"></label>
                <input type="submit" value="GO!">
            </form>
        </div>
        <p class="c0">335566</p>


        <script src="/static/demos/js/jquery.js"></script>
        <script>
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
        </script>
        <script src="/static/demos/js/demo_2.js"></script>
    </body>
</html>
