<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>二货淘书-淘你所爱</title>
        {% load staticfiles %}
		<link rel="stylesheet" href="{% static '/index/css/index.css' %}">
		<link rel="stylesheet" href="{% static '/index/css/login.css' %}">
		<link rel="stylesheet" href="{% static '/index/css/register.css' %}">
		<link rel="shortcut icon" href="{% static '/index/image/book.ico' %}">
	</head>

	<body>
		<h1 class="t-sitename">二货淘书</h1>
		<div class="head-cot">
			<form id="h-search">
				<input name="search" type="search">
			</form>
			<div class="user">
				<i class="signup">注册</i>
				<span>或</span>
				<i class="login">登录</i>
			</div>
		</div>
		<div class="nav">
			<p class="n-sitename">二货淘书</p>
			<ul class="nav-u">
				<li><a href="index.html">首页</a></li>
				<li><a href="index.html">书库</a></li>
			</ul>
			<div class="user">
				<i class="signup">注册</i>
				<span>或</span>
				<i class="login">登录</i>
			</div>
			<form id="n-search" action="#" method="get">
				<input class="search" type="text" name="search">
				<a href="#"><i></i></a>
			</form>
		</div>
		<div class="r-nav"></div>
		<ul class="h-nav">
				<li><a href="index.html">首页</a></li>
		</ul>
		<div class="doc-c">
			<div class="part">
				<ul class="books">
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
				</ul>
			</div>
			<div class="part">
				<ul class="books">
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
				</ul>
			</div>
			<div class="part">
				<ul class="books">
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
				</ul>
			</div>
			<div class="part">
				<ul class="books">
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
				</ul>
			</div>
			<div class="part">
				<ul class="books">
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
				</ul>
			</div>
			<div class="part">
				<ul class="books">
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
				</ul>
			</div>
			<div class="part">
				<ul class="books">
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
				</ul>
			</div>
			<div class="part">
				<ul class="books">
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
					<li><img src="{% static '/index/image/260x180.png' %}" alt=""></li>
				</ul>
			</div>
		</div>
		<div class="pagelist">
			
		</div>
		<div class="pagefoot"></div>
		<div class="cover"></div>
		<div class="login-c">
			<div class="con-b">
				<h1>登录以继续</h1>
				<div class="head">
					<img src="{% static '/index/image/book.png' %}">
					<h2>二货淘书</h2>		
				</div>
				<form id="login" action="index.html" method="post">
					<input type="text" placeholder="用户名">
					<input type="password" placeholder="密码">
					<div class="stayIn">
						<input type="checkbox">
						<div class="needCheck"></div>
						<p>保持登录状态</p>
						<a href="findpassword.html" target="_blank">忘记密码？</a>
					</div>
					<button>登 录</button>
				</form>
				<p class="foot">还没有账户？ <a href="signup.html" onclick="l_to_s(); return false;">注册</a></p>
			</div>
		</div>
		<div class="signup-c">
			<div class="con-b">
				<h1>注册以继续</h1>
				<div class="head">
					<img src="{% static '/index/image/book.png' %}">
					<h2>二货淘书</h2>
				</div>
				<form id="signup" action="index.html" onSubmit="return check()" method="post">
					<input name="username" id="username" type="text" placeholder="昵称">
					<p id="chkUsername"></p>
					<input name="password" id="password" type="password" placeholder="密码">
					<input name="password2" id="password2" type="text" placeholder="请再次输入密码">
					<input name="mail" id="mai" type="text" placeholder="电子邮箱地址">
					<select name="gender" id="gender">
						<option value>性别</option>
						<option value="male">男</option>
						<option value="female">女</option>
					</select>
					<select name="grade" id="grade">
						<option value>年级</option>
						<option value="1">大一</option>
						<option value="2">大二</option>
						<option value="3">大三</option>
						<option value="4">大四</option>
					</select>
					<div class="readme">
						<input type="checkbox" name="checkbox" id="checkbox">
						<div class="needCheck"></div>
						<p>我已阅读<a href="rmuse.html" target="_blank">使用条款</a>和<a href="rmprivate.html" target="_blank">隐私政策</a>。</p>
					</div>
					<button>注 册</button>
				</form>
				<p class="foot">已有账户？ <a href="login.html" onClick="s_to_l(); return false;">登陆</a></p>
			</div>
		</div>
		
		<script src="{% static '/index/js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static '/index/js/index.js' %}"></script>
		
	</body>
</html>
