/* CSS Document */
.signup-c .con-b {
	width: 400px;
	padding: 10px;
	height: 480px;
}
.signup-c .con-b h1 {
	font-size: 18px;
}
.signup-c .head {
	margin-top: 20px;
	height: 25px;
}
.signup-c .head img {
	display: inline-block;
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.signup-c .head h2 {
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
}

.signup-c #signup>input{
	display: block;
	width: 380px;
	height: 32px;
	border: thin #bbbbbb solid;
	border-radius: 3px;
	transition: all .3s ease;
	margin-top: 20px;
	padding-left: 12px;
}

.signup-c #signup input:hover {
	border:thin rgb(100,100,255) solid;
}

.signup-c #signup select {
	margin-top: 20px;
	width: 182px;
	height: 32px;
	border: thin #BBBBBB solid;
	border-radius: 3px;
	background-color: #E9E9E9;
	padding-left: 12px;
}

.signup-c #signup select:nth-of-type(2) {
	margin-left: 10px;
}

.signup-c .readme a {
	color: #0064dc;
}

.signup-c .readme p {
	letter-spacing: 2px;
	margin-top: 20px;
	font-size: 16px;
	display: inline-block;
	margin-left: 6px;
}

.signup-c .readme input {
	height: 20px;
	width: 20px;
	background-color: #999999;
	border: thin #BBBBBB solid;
	border-radius: 3px;
	display: none;
}

.signup-c .readme span {
	width: 25px;
	height: 25px;
	display: inline-block;
	background-size: 25px;

}
.signup-c .needCheck {
	width: 20px;
	height: 20px;
	margin-top: 20px;
	display: inline-block;
	border: 4px #666 solid;
	border-radius: 4px;
	position: relative;
	top: 3px;
}
.signup-c .checked {
	background-color: #666;
}

.signup-c .checked::before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 7px;
	height: 3px;
	top: 2px;
	left: 1px;
	transform: rotate(-40deg);
	border-left: 3px #FFF solid;
	border-bottom: 3px #FFF solid;
}


.signup-c #signup button {
	width: 70px;
	height: 30px;
	background: #FE8753;
	border: thin #FE8753 solid;
	border-radius: 5px;
	margin-top: 15px;
	font-weight: bold;
}

.signup-c .foot {
	margin-top: 20px;
	font-size: 16px;
}

.signup-c .foot a {
	color: #0064dc;
}
